---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import { languageMeta } from "@/data/post";
import { siteConfig } from "@/site.config";
import type { SiteMeta } from "@/types";

interface Props {
	bodyClass?: string;
	mainClass?: string;
	meta: SiteMeta;
}

const {
	bodyClass,
	mainClass,
	meta: {
		alternateLinks,
		articleDate,
		articleTags,
		articleUpdatedDate,
		canonical,
		description = siteConfig.description,
		lang,
		noindex,
		ogImage,
		ogLocale,
		rssHref,
		title,
	},
} = Astro.props;
const htmlLang = lang ? languageMeta[lang].htmlLang : siteConfig.lang;
---

<html class="scroll-smooth" data-theme="dark" lang={htmlLang}>
	<head>
		<ThemeProvider />
		<BaseHead
			alternateLinks={alternateLinks}
			articleDate={articleDate}
			articleTags={articleTags}
			articleUpdatedDate={articleUpdatedDate}
			canonical={canonical}
			description={description}
			lang={lang}
			noindex={noindex}
			ogImage={ogImage}
			ogLocale={ogLocale}
			rssHref={rssHref}
			title={title}
		/>
	</head>
	<body
		class:list={[
			"site-root bg-global-bg text-global-text flex min-h-screen flex-col font-mono text-sm font-normal antialiased transition-colors duration-150",
			bodyClass,
		]}
	>
		<SkipLink />
		<Header lang={lang} />
		<main class:list={[mainClass]} id="main">
			<slot />
		</main>
		<Footer />
		<script is:inline type="speculationrules">
			{
				"prefetch": [
					{
						"where": {
							"href_matches": "/*"
						},
						"eagerness": "conservative"
					}
				]
			}
		</script>
	</body>
</html>
